@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-surface:var(--bg-surface);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  /* brand */
  --brand-primary:#B499FF;
  --brand-secondary:#EDECFF;
  --brand-accent:#fff;
  /* background */
  --bg-main:#ffff;
  /* --bg-surface:#ead0fd1c; */
  --bg-surface:#f5f5f5;
  --bg-secondary:#EDECFF;
  --bg-muted: #e5e7eb;
/* 
  --text-main: #111827;           
  --text-muted: #4b5563;         
  --text-on-brand: #ffffff; */
  
  --background: #ffffff;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #070000;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: #181818bb;
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: #f7f7f7;
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

.font-heading{
  font-family: var(--font-heading);
}
.font-subheading{
  font-family: var(--font-subheading);
}
.font-content{
  font-family: var(--font-content);
}
body{
  font-family: var(--font-content);
}


.brand-primary{
  background: red;
}

.bg-primary-btn {
  /* background-image: linear-gradient(90.48deg, rgb(250, 195, 210) 0%, #0a485f 100%); */
  background-image: linear-gradient(110.48deg, rgba(205, 146, 245, 0.963) 0%, #350c5f 100%);
  font-weight: 700;
  padding: 12px 24px;
  /* border-radius: 10px; */
  border: 1px solid rgba(157, 150, 201, 0.3);
  /* box-shadow: 0 4px 15px rgba(157, 150, 201, 0.2); */
  transition: all 0.3s ease;
  cursor: pointer;
}
.bg-primary-btn-import {
  /* background-image: linear-gradient(90.48deg, rgb(250, 195, 210) 0%, #0a485f 100%); */
  background-image: linear-gradient(110.48deg, rgba(205, 146, 245, 0.299) 0%, #350c5f 70%);
  font-weight: 700;
  padding: 12px 24px;
  /* border-radius: 10px; */
  /* border: 1px solid rgba(157, 150, 201, 0.3); */
  /* box-shadow: 0 4px 15px rgba(157, 150, 201, 0.2); */
  transition: all 0.3s ease;
  cursor: pointer;
}

.folder-bg-linear{
  background: radial-gradient(circle at center, #F1AEFF 0%, #ffffff 100%);
}

.active-folder-btn{
  background: rgba(237, 236, 255,0.7);
  color: #151516;
}


.bg-progress-gradient {
  background: linear-gradient(90.48deg,   #0c185f 0% , #92bff5f6 100%);
  /* background-color: red; */
}

.bg-background-btn {
  /* background: rgb(94, 36, 180); */
  background: black;
  position: relative;
  overflow: hidden; 
}

.bg-background-btn::after {
  position: absolute;
  content: "";
  border-radius: inherit;
  z-index: 1; 
  inset: 0px;
  opacity: 1;
  pointer-events: none;
  transition-property: background-color, background, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 100ms;
  /* background-image: linear-gradient(rgba(255, 255, 255, 0.184) 0%, rgba(255, 255, 255, 0.058) 100%); */
  background-image: linear-gradient(rgba(255, 255, 255, 0.309) 0%, rgba(255, 255, 255, 0.132) 100%);
}



.hidden-overlap{
  position: relative;
}

.hidden-overlap::after{
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 70%;
  bottom: 0;
  background: linear-gradient(transparent 20%, rgb(255, 255, 255) 88%);
  /* background-color: black; */
}

.overlap-card{
  position: relative;
}


.overlap-card::after{
   position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 50%;
  bottom: 0;
  background: linear-gradient(transparent 20%, rgb(255, 255, 255) 98%);
}
